<div class="alert" style="margin-top: 10px" [ngClass]="actionAlert.type" *ngIf="actionAlert.message">
  {{actionAlert.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #productForm="ngForm">
  <mat-card style="margin-top:10px;">
    <mat-card-header>
      <mat-card-title *ngIf="actionMode === CREATE_MODE">Create Product</mat-card-title>
      <mat-card-title *ngIf="actionMode === EDIT_MODE">Edit Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-group">
        <label>Product Title</label>
        <input type="text" class="form-control" id="title" name="title"
               [(ngModel)]="productModel.name" required #name=ngModel>
        <div [hidden]="name.valid || name.pristine" class="text-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea  type="text" class="form-control" id="description" name="description"
                   row="3" [(ngModel)]="productModel.description"></textarea>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" id="price" name="price"
               [(ngModel)]="productModel.price" #price=ngModel required>
        <div [hidden]="price.valid || price.pristine" class="text-danger">
          Price is required
        </div>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity"
               [(ngModel)]="productModel.quantity" #quantity=ngModel required>
        <div [hidden]="quantity.valid || quantity.pristine" class="text-danger">
          Quantity is required
        </div>
      </div>
      <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" id="image" name="image"
               [(ngModel)]="productModel.imageUrl" #image=ngModel required>
        <div [hidden]="image.valid || image.pristine" class="text-danger">
          Image is required
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: right">
      <button mat-button mat-flat-button type="submit" color="primary" *ngIf="actionMode === CREATE_MODE"
              (click)="createAction()" [disabled]="!productForm.form.valid">Create
      </button>
      <button mat-button mat-flat-button type="submit" color="primary" *ngIf="actionMode === EDIT_MODE"
              (click)="editAction()" [disabled]="!productForm.form.valid && isChangeForm()">Save
      </button>
      <button mat-button mat-flat-button type="button"
              (click)="cancelEvent()">Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>

