<div id="customer-domain" (window:resize)="onResize($event)">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Heading -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      {{currentRoot.title}}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" *ngFor="let item of data" (click)="setCurrentItem(item)">
      <a class="collapsed nav-link" *ngIf="item.menuItems && item.menuItems.length > 0" [ngClass]="{'has-child-item': item.menuItems && item.menuItems.length > 0}"
         [href]="item.menuItems && item.menuItems.length > 0 ? '#'+item.id : currentRoot.url+'/'+item.url"
         data-toggle="collapse">
        <i class="{{item.icon}}"></i>
        <span>{{item.title}}</span>
      </a>
      <a class="collapsed nav-link" *ngIf="!item.menuItems || item.menuItems.length === 0" [ngClass]="{'has-child-item': item.menuItems && item.menuItems.length > 0}"
         (click)="navigateItem(currentRoot.url, item.url)">
        <i class="{{item.icon}}"></i>
        <span>{{item.title}}</span>
      </a>
      <div [id]="item.id" *ngIf="item.menuItems && item.menuItems.length > 0" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="collapse-inner" *ngFor="let childItem of item.menuItems">
          <a class="collapse-item" (click)="navigateItem(currentRoot.url, childItem.url)">{{childItem.title}}</a>
        </div>
      </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline" style="margin-top: 30px">
      <button class="rounded-circle border-0" data-toggle="collapse" id="sidebarToggle" (click)="sidebarToggle()"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">
                <i class="fas fa-home fa-sm"></i>
                Home
              </a>
            </li>
            <li class="breadcrumb-item">Library</li>
            <li class="breadcrumb-item active" aria-current="page">{{currentItem.title}}</li>
          </ol>
        </nav>
        <!--Page Heading-->
        <div class="d-sm-flex align-items-center justify-content-between">
          <h1 class="h3 app-heading">{{currentItem.title}}</h1>
        </div>
        <hr class="sidebar-divider">
        <router-outlet name="content"></router-outlet>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

